@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">You do not currently have access to this resource. If you believe you should have access please contact an Orenda team member
        at help@orendaed.org.
    </p>
</header>
