@page "{id:int}"
@model ORSV2.Pages.Schools.EditModel
@{
    ViewData["Title"] = "Edit School";
}

<h1>Edit School</h1>

<form method="post">
    <input type="hidden" asp-for="School.Id" />
    <input type="hidden" asp-for="School.DistrictId" />

    <div class="form-group">
        <label asp-for="School.Name"></label>
        <input asp-for="School.Name" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="School.LocalSchoolId"></label>
        <input asp-for="School.LocalSchoolId" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="School.SchoolType"></label>
        <input asp-for="School.SchoolType" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="School.CDSCode"></label>
        <input asp-for="School.CDSCode" class="form-control" />
    </div>

    <div class="form-group form-check">
        <input asp-for="School.enabled" class="form-check-input" />
        <label class="form-check-label" asp-for="School.enabled"></label>
    </div>

    <div class="form-group">
        <label asp-for="School.Notes"></label>
        <textarea asp-for="School.Notes" class="form-control"></textarea>
    </div>
    <br/>
    <button type="submit" class="btn btn-primary">Save Changes</button>
    <a asp-page="Index" asp-route-districtId="@Model.School.DistrictId" class="btn btn-secondary">Cancel</a>
</form>
